/* Applying a font to the body element */
:root{
    font-size: 2 em;
}
body{
    font-family:sans-serif ;
    font-size: 16px;
}



h1{
    color:#2f4f4f;
    margin-bottom: 10px;
    font-weight: bold;
    
}

.title{
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    font-stretch:normal;
    line-height: normal;
    font-size: 32px;
    font-family:Arial, Helvetica, sans-serif
    /* font: 32px Helvetica, Arial, sans-serif; */
}


.nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.nav li{
    display: inline-block;
}

 
.nav a{
    color:white;
    background-color: #13a4a4;

    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px; 
    border-radius:2px;
    
    text-decoration: none;
}

.nav .featured {
    background-color:orange;
    box-shadow: 10px 2px #6f9090;
}

a:link{
    color: blue;
    text-decoration: none;
}

a:visited{
    color: purple;
}

a:hover{
    text-decoration:underline ;
}

a:active{
    color: red;
}
.footer{
    color: #666;
    background-color: #ccc;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}

.footer a{
    color: initial;
    text-decoration: none;
}
footer{
    margin-top: 3em;
}
.padded{
    border-style:dashed;
    padding:1em;
    margin-bottom: 3em;
}

.box{
    padding: 1.5em;
    background-color: #6f9090;
    border-radius: 0.5em;
    display: inline;
}
.box-small{
    font-size: 12px;
}

.box-large{
    font-size: 18px;
}

.padded_paragraph{
    border-style: dashed;
}

.love{
    border: 0.2em solid black;
    width:max-content;
    margin-top: 3em;
}

.coffee_small{
    font-size: 12px;
}

.coffee_large{
    font-size: 1.2em;
    padding: 1.2em;
    background-color: #ccc;
}

ul {
    font-size: .8rem;
}