:root{
    --main-color: #0072b0;
    --body-color: #eee;
    --main-bgcolor:#fff;
    --main-size:1em;

}

body{
    background-color: var(--body-color);
}
header{
    
    --main-size: 2em;
    background-color: var(--main-color);
    color: white;
    font-size: var(--main-size);
    padding: 0 0.5em;
    
}
main{
    display: flex;
    
}
.left, .right, header{
    border-radius: 0.2em;
}

.left{
    background-color: var(--main-bgcolor);
    
    width: 70%;
    color: black;
    font-size:var(--main-size) ;
    padding:0 0.5em;
    margin-right: 0.5em;
}
.right{
    background-color: var(--main-bgcolor);
    margin-left: 0.5em;
    width: 30%;
}

ul{
   margin-right: 2.5em;
    /* background-color: var(--main-color); */
}
li{
  
    list-style-type: none;
    background-color: var(--main-color);
    padding: 0.4em;
    margin-right: 0.5em; 
    margin-left: 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    text-align: center;

    

}

li a{
    color: var(--body-color);
}
a{
    
    color: var(--main-color);
}