.a{
    
    margin-bottom: -1em;
}
p{
    
    border: 0.1em solid black;
    padding: 0.2em;
    color: white;
    background-color: rgba(65, 65, 228, 0.918);
    
    
}
h1, .right, header{
    margin-top: 0;
    margin-bottom: 0;
}
.b{
    margin-right: -50em;
}